
hr {
	color: black;
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

textarea {
	resize: vertical;
}

.subtitulotradcbm,
.name,
.skills{
	font-family: arial;
	text-transform: none;
	font-size: 2em;
		line-height: 1.5;
		font-style: oblique;
		margin-top:0;
		margin-bottom: 0.5em;
		color: black;

}

header .intro-text .name {
    font-family: Montserrat !important;
    font-size: 3em !important;
    font-weight: bold !important;
}

.menuawesome {
	font-size: 1.5em;
}

.logoweb {
	margin-bottom: 1px;
	margin-top:-50px;
	max-height: 300px;
}


.archivoImagen {
	padding: 1em !important;
	border: 1px solid grey !important;
	margin: 1em 1em 1em -2em;
}

.imagenPie {
	margin: 0 0 35px 0;
	max-height: 100px;

}
/*.fondoS {
	background-image: url('../img/fondoheader.png') !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;

}*/

.imagenApartado {
	margin: 0 0 35px 0;
	border-radius: 75px;
	max-height: 200px;

}

.navbar-custom {
    background: black !important;
    font-weight: 700;
    border: none;
    padding: 1px 0 !important;
    -webkit-transition: padding .3s;
    -moz-transition: padding 2s;
    transition: padding .3s;
}

.navbar-custom .navbar-nav li a:hover {
    color: yellow !important;
    outline: 0;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: yellow !important;
    background-color: black !important;
}

.dropdown-menu{
	background: black !important;
	right: auto !important;
    left: 0 !important;
    padding: 10px !important;
}

a.dropdown-item {
	margin: 10px !important;
}

.derecha {
    float: right;
    margin: 0 5px;
}
.idiomas{
	padding: 0;
	margin: 0;
}

.transparente{
	opacity: 0.5;
	width: 100%;
	height: 100%;
}

.hrheader {
    border-color: black !important;
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

.fondoazul{
	background-color: #2C3E50;
	color:white;
}

.fondogris{
	background-color: #5F5F5F !important;
	color:white;
}

.copyright {
	text-decoration: none;
	color: white;
}

a.copyright:hover {
	color: yellow;
	text-decoration: none;
}


.hrnegra {
    border-color: #3c3c3c !important;
}

.hrazul {
    border-color: #607D8B !important;
}

.hrblanca {
    border-color: white !important;
}

footer {
	background-color: grey !important;
    padding: 25px 0;
}

/*.floating-label-form-group {
    position: relative;
    margin-bottom: 1em !important;
    padding-bottom: 1em;
    border: 1px solid grey !important;
}*/

.divinput {
	padding: 1em !important;
	border: 1px solid grey !important;
	margin: 1em;
	
}

.texstoContacto {
	padding: 1em !important;
	/*border: 1px solid grey !important;*/
	margin: 1em;
	
}

.divTituloContacto {
	padding: 1em !important;
	margin: 1em 0 .5em 0;
	color: black;
}

.inputtexto{
	/*padding-bottom: 1em !important;*/
	border: none;
	color:black;
	font-size: 1.5em;	

}

.contactInput{
	/*padding-bottom: 1em !important;*/
	background-color: none;
	border: none;
	color:black;
	font-size: 1.5em;	

}

.formlabel {
	color: grey;	
	font-size: 1em;
}

.contactLabel {
	color: white;	
	font-size: 1.5em;
}

.divbutton {
	/*padding: none;*/
	padding-right: 1em;
	text-align: right;
}

.listado {
    width: 100%;
    background: #f0f3f5;
    box-shadow: 0px 0px 5px rgba(0,0,0, .5);
    margin-bottom: 30px;
    padding: 15px;
}

.cabecerapie {
	background: #D8DBF6;
}

.logolistado {
	padding: 10px 0;
	max-height: 75px;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 40%;*/
}

.logocabecera {
	padding: 10px 0;
	max-width: 60px;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 40%;*/
	float: none;
}

.center {
    text-align: center;
}

.titulo {
	font-size: 1.2em;
	font-weight: bold;
    line-height: 28px;
    padding-bottom: .5em;
    border-bottom: 1px solid grey;
}

.cabeceratitulo1 {
	padding-top: 1em;
}
.cabeceratitulo2 {
	    font-family: Yellowtail,"Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-size: 2.5em;
}

.cabeceratitulo3 {
	/*padding: 1em 0 .5em 0;*/
	font-style: oblique;	
}

.sectioncabecera{
	padding-top: 50px;
	padding-bottom: 0 !important;
}

.sectionlistado{
	padding: 1px 0;
}

.contenido {
	padding-top: 75px;
}

.separadorcabecera {
	height: 75px;
}

.texto {
	font-size: 1.5em;
}

.textoderecha {
	text-align: right;
}

.listadesplegable {
    z-index: 1;
    position: relative;
	padding: 0px 12px 12px 0;
    border: 0px solid grey !important;
    font-family: inherit;
    font-size: 1.5em;
    background: 0 0;
    resize: none;
	color: grey;	
	font-size: 1em;
	font-style: bold;

}

.archivo{
/* z-index: 1;
    position: relative;*/
    height: 10px;
	padding: 0px 12px 12px 0;
    border: 0px solid grey !important;
    font-family: inherit;
    font-size: 1.5em;
    background: 0 0;
    resize: none;
	color: grey;	
	font-size: 1em;
	font-style: bold;	
}

.imgGaleria {
  padding: 10px 0;
  max-height: 200px;
  width: auto;
  display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 40%;*/
}

.imagenGaleria {
  opacity: 1;
  display: block;
  width: auto;
  max-height: 250px;
  /*height: auto;*/
  transition: .5s ease;
  backface-visibility: hidden;
  margin: 15px;
}

.centrar {
  margin-left: auto;
  margin-right: auto;
  display: block;
  vertical-align: middle;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.contenedorImagen:hover .image {
  opacity: 0.3;
}

.contenedorImagen:hover .middle {
  opacity: 1;
}

.divTextoGaleria {
 background-color: black;
 opacity: .8;	
}
.textoGaleria a{
 
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 15%;
  text-decoration: none;
  width: 100%;
  margin-right:auto;
  margin-left: auto;
  display: block;

}

.textoGaleria a:hover{
	text-decoration: none;
	color:yellow;
}